pip==22.2.2
streamlit==1.11.0
pandas==1.4.3
numpy==1.22.4
nltk==3.7
matplotlib==3.5.1
seaborn==0.11.2
tqdm==4.64.0
transformers==4.18.0
scipy==1.7.3
tensorflow
torch
torchvision 
torchaudio
wheel==0.37.1
wordcloud==1.8.2.2
geocoder==1.38.1
tweepy==4.10.0
config==0.5.1